<ul class = "button-group round even-3">
  <li>
    <a href="/movie_catalog/actors" class="button success">Actors</a>
  </li>
  <li>
    <a href="/movie_catalog" class="button success">Home</a>
  </li>
  <li>
    <a href="/movie_catalog/movies?order=title&page=1" class="button success">Movies</a>
  </li>
</ul>

<div class = "movie_content">
  <% @movie_data.to_a.each do |movie| %>
    <h3><%= movie["title"] %></h3>
    <ul>
      <li>
        Genre: <%= movie["genre"] %>
      </li>
      <li>
        Studio: <%= movie["studio"] %>
      </li>
    </ul>
  <% end %>

  <h4>Cast members and Role</h4>


  <table>
    <thead>
      <tr>
        <th width="200">Actor</th>
        <th width="150">Character</th>
      </tr>
    </thead>
    <tbody>
      <% @cast_data.to_a.each do |cast| %>
      <tr>
        <td>
          <a href="/movie_catalog/actors/<%= cast["id"] %>">
            <%= cast["name"] %>
          </a>
        </td>
        <td>
          <%= cast["character"]%>
        </td>
      <% end %>
    </tr>
    </tbody>
  </table>
